.apexcharts-datalabel-label {

    font-size: 20px !important;
    margin-top: 5px !important;

}

.apexcharts-datalabel-value {

    display: none !important;


}

.muiltr-mhc70k-MuiGrid-root {

    margin-top: 0px !important;


}

.MuiDialogTitle-root+.muiltr-ypiqx9-MuiDialogContent-root {

    padding-top: 2px !important;

}

.m-3{
    margin: 2rem !important;
}
.p-3{
    padding: 2rem !important;
}

